[Desktop Entry]
Name=KDE Connect
Comment=Connect and sync your devices
Type=Application
Exec=cosmic-applet-kdeconnect
Terminal=false
Categories=COSMIC;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
Icon=phone-symbolic
